<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  .content {
    display: flex;
    margin: 10px 32px;
    padding: 0 16px;
    align-items: center;
  }

  div {
    align-items: center;
    margin: 0 auto;
  }


</style>
<div>
  <div class="content">
    <app-chart [dataFromMethod]="rows" [dataForm]="dataFormForm"></app-chart>
    <app-form [functions]="functions"
              [methods]="methods" (change)="solve()" (dataChosen)="changeData($event)"></app-form>
  </div>
  <h1 align="center" *ngIf="!errors">Answer: {{result}}</h1>

  <h1 *ngFor="let error of errors;" style="color: red; margin: 0 auto; text-align: center">{{error}}</h1>

  <app-table [data]="{headers: headers, rows:rows}"></app-table>
</div>


